{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
  <table style=width:600>
  <tr>
  <td style="text-align:center" width=300>
  <h2>Students</h2><a href={{ url_for('add_student') }} >Add Student</a>
  <table style="border: solid 1px black; width:100%">  
  <tr>
		<th>Id</th>
		<th>First</th>
		<th>Last</th>
	</tr>
  {% for student in students %}  
    <tr> 
	<td style="border: solid 1px black">{{ student.id }}</td>
	<td style="border: solid 1px black">{{ student.first }}</td>
	<td style="border: solid 1px black">{{ student.last }}</td>
	<td style="border: solid 1px black"><a href="/student/{{ student.id }}">View Results</a></td>
	</tr>
  {% endfor %}  
  </table>
  </td>
  <td style=text-align:center width=300>  
  <h2>Quiz</h2><a href={{ url_for('add_quiz') }} >Add Quiz</a>
   <table style="border: solid 1px black; width:100%">  
  <tr>
		<th>Id</th>
		<th>Subject</th>
		<th>Questions Num</th>
		<th>Date</th>
	</tr>
  {% for qz in quiz %}  
    <tr> 
	<td style="border: solid 1px black">{{ qz.id }}</td>
	<td style="border: solid 1px black">{{ qz.subject }}</td>
	<td style="border: solid 1px black">{{ qz.questionNum }}</td>
	<td style="border: solid 1px black">{{ qz.quizDate }}</td>
	</tr>
  {% endfor %}  
  </table>
  </td>
  </tr>
  </table>
  <a href={{ url_for('add_result') }} >Add Quiz Result</a>
  {% if results is defined and results.count > 0 %}  
	<table style="border: solid 1px black; width:100%">  
		<tr>
			<th>Id</th>
			<th>Subject</th>			
			<th>Date</th>
			<th>Score</th>
		</tr>
		{% for result in results %}  
		<tr> 
			<td style="border: solid 1px black">{{ result.id }}</td>
			<td style="border: solid 1px black">{{ result.subject }}</td>
			<td style="border: solid 1px black">{{ result.quizDate }}</td>
			<td style="border: solid 1px black">{{ result.score }}</td>
		</tr>
		{% endfor %}  
	</table>
  {% endif %}
  {% else%}
  <span>Please log in</span>
  {% endif %}
{% endblock %}
